@import "variables";
@import "reset";
@import "classes";
@import "media-queries";
@import "base";

input {
    width: 100%;
    padding: 15px;
    background-color: #F8F8F8;
    margin-bottom: 10px;
}


// Pages
@import "auth";